@page "/"

<PageTitle>Home</PageTitle>

<section class="hero-container">
    <div class="hero-content">
        <img src="/images/hero.jpg" class="hero-img">
    </div>
</section>

<section id="greeting" class="container">
    <h2>Hello Admin!</h2>
</section>



